header
  position: fixed
  bottom: 0
  left: 0
  background-color: $color-black
  border-top: 1px solid $color-white
  width: 100%
  text-align: center

section.menu
  padding: 1rem 0
  font-family: $type-family-decorative
  +all-caps

  li
    display: inline-block

  a
    margin: 0 0.5rem
    text-decoration: none

