html
  font-size: $type-size-base

body
  font-family: $type-family-text
  font-weight: $type-weight-base
  -webkit-font-smoothing: antialiased
  line-height: $type-leading-base

h1,
h2,
h3,
h4,
h5,
h6
  font: inherit

h1
  font-family: $type-family-decorative
  font-weight: $type-weight-light
  font-size: 6rem
  +all-caps

h3
  font-family: $type-family-decorative
  font-weight: $type-weight-base
  +all-caps

p
  margin-bottom: 1rem

blockquote
  font-size: $type-size-large
